body{
    background-color: rgb(239,245,255);
}

#menu{
    background-color: #231f20;
}

#header-brand{
    height:100%;
}

#brand-link{
    padding:0px;
    color: #c6c6c6;
}

#menu-container{
    width:100%;
    margin:0px 0px;
    margin-right:20px;
}

#body-container{
    margin-top: 60px;
}

#navbar-buttons a{
    color:#c6c6c6;
}

.dropdown-menu a{
    color:black !important;  
}

hr{
    margin: 5px;
}

#solicitacao-amizade{
    width: 200px;
}

#solicitacao-amizade li{
    padding: 5px;
}

.button {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 16px;
}
.button-badge{
    position: absolute;
    top: -2px;
    left: 8px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}

.notificacoes button{
    position: absolute;
    top: 30px;
}

.aceitar-solicitacao{
    left: 58px;
}

.rejeitar-solicitacao{
    left: 113px;
}

.nome-pessoa{
    position: absolute;
    top: 0px;
}

#home-conteudo{
    background-color: white;
}

.bloco-amigo{
    padding:10px;
    padding-bottom:5px;
}

.nome-pessoa{
    padding: 35px 10px;
}

.user-details{
    padding: 25px 10px;
}

.navbar-collapse.collapse.in{
    color: #fff !important;
}

#form-busca-nome{
    margin: 0px;
}

#nome-buscado{
    height: 25px;
}

#info-inferior{
    margin: 20px 0px;
}

textarea {
    resize: none;
}

#publicacao-submit{
    margin: 15px;
}

#publicacoes{
    margin: 15px;
}

#conteudo-publicacoes{
    margin: 180px 10px 10px;
    margin-top: 180px;
}