<form class="form-horizontal" action="#" th:action="@{/registrar}" th:object="${perfil}" method="POST"> 

    <div class="form-group">
        <label for="dsEmail" class="col-sm-2 control-label" th:text="#{user.email}"></label>
        <div class="col-sm-10">
            <input type="dsEmail" class="form-control" name="dsEmail" th:field="*{dsEmail}" placeholder="Email" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="dsSenha" class="col-sm-2 control-label" th:text="#{user.senha}"></label>
        <div class="col-sm-10">
            <input type="dsSenha" class="form-control" name="dsSenha" th:field="*{dsSenha}" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="pessoaIdPessoa.nmPessoa" class="col-sm-2 control-label" th:text="#{user.nome}"></label>
        <div class="col-sm-10">
            <input type="pessoaIdPessoa.nmPessoa" class="form-control" name="pessoaIdPessoa.nmPessoa" th:field="*{pessoaIdPessoa.nmPessoa}" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="pessoaIdPessoa.dtNascPessoa" class="col-sm-2 control-label" th:text="#{user.data}"></label>
        <div class="col-sm-10">
            <input type="pessoaIdPessoa.dtNascPessoa" class="form-control" name="pessoaIdPessoa.dtNascPessoa" th:field="*{pessoaIdPessoa.dtNascPessoa}" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="pessoaIdPessoa.tpSexoPessoa" class="col-sm-2 control-label" th:text="#{user.sexo}"></label>
        <div class="col-sm-10">
            <input type="pessoaIdPessoa.tpSexoPessoa" class="form-control" name="pessoaIdPessoa.tpSexoPessoa" th:field="*{pessoaIdPessoa.tpSexoPessoa}" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" th:text="#{cadastro.submit}"/>
            </div>
        </div>
    </div>
</form>

    <!--
        <div class="form-group">
            <label for="nome" class="col-sm-2 control-label" th:text="#{user.nome}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{nome}" placeholder="Ex: Vinicius Ambrosi" autofocus="true"/>
            </div>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" th:text="#{user.senha}"></label>
            <div class="col-sm-10">
                <input type="password" class="form-control" th:field="*{senha}" autofocus="true"/>
            </div>
        </div>
    
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" th:text="#{user.senha.confirme}"></label>
            <div class="col-sm-10">
                <input type="password" class="form-control" th:field="*{senha}" autofocus="true"/>
            </div>
        </div>-->