<form id="form-cadastro" class="login form-horizontal" action="#" th:action="@{/registrar}" method="POST"> 

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label" th:text="#{user.email}"></label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" placeholder="Email" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="senha" class="col-sm-2 control-label" th:text="#{user.senha}"></label>
        <div class="col-sm-10">
            <input id="senha" type="password" class="form-control" name="senha"  autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmacaoSenha" class="col-sm-2 control-label" th:text="#{user.senha.confirme}"></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="confirmacaoSenha" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="pessoa.nome" class="col-sm-2 control-label" th:text="#{user.nome}"></label>
        <div class="col-sm-10">
            <input type="pessoa.nome" class="form-control" name="pessoa.nome" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="pessoa.dataNascimento" class="col-sm-2 control-label" th:text="#{user.data}"></label>
        <div class="col-sm-10">
            <input type="pessoa.dataNascimento" class="form-control" name="pessoa.dataNascimento" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <label for="pessoa.sexo" class="col-sm-2 control-label" th:text="#{user.sexo}"></label>
        <div class="col-sm-10">
            <input type="pessoa.sexo" class="form-control" name="pessoa.sexo" autofocus="true"/>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" th:text="#{cadastro.submit}"/>
            </div>
        </div>
    </div>
</form>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/CadastroView.js}"></script>
    <script>
        new CadastroView({
            form: $('#form-cadastro')
        }).validar();
    </script>
</th:block>