<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div id="menu-container" class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-buttons">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand-link" class="navbar-brand" th:href="@{${'/home'}}">
                <span><img id="header-brand" th:src="@{/img/menu-brand.jpg}" alt="logo"/></span>
                <span>SocialMedia</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-buttons">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button id="busca-pessoas" type="button" class="achar-amigos btn btn-primary btn-xs navbar-btn" th:text="#{amizade.buscar}"/>
                </li>
                <li>
                    <form id="form-busca-nome" class="navbar-form" role="search">
                        <div class="form-group input-group-sm">
                            <input type="search" class="form-control" id="nome-buscado" placeholder="Nome"/>
                        </div>  
                        <button type="submit" class="achar-amigos-nome btn btn-default btn-xs navbar-btn" th:text="#{amizade.buscar.por.nome}"/>
                    </form>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span id="contador-solicitacoes" th:if="${solicitacoesAmizade != 0}" class="button-badge" th:text="${solicitacoesAmizade}"/>
                        </div>
                    </a>
                    
                    <ul id="solicitacao-amizade" class="dropdown-menu">
                        <li th:text="#{header.requests}"></li>
                        <ul class="list-group">
                            <li class="notificacoes list-group-item" th:each="solicitacao : ${solicitacoes}">
                                <div>
                                    <span>
                                        <img id="imagem-notificacao" src="http://placehold.it/50x50" alt="imagem-perfil"/>
                                        <a class="nome-pessoa" th:href="@{${'/perfil'}(idPessoa=${solicitacao.perfil.pessoa.id},perfil=${solicitacao.perfil.id})}" 
                                           th:text='${solicitacao.perfil.pessoa.nome}'/><br/>
                                        <button th:attr="data-id=${solicitacao.id}" type="button" class="aceitar-solicitacao btn btn-primary btn-xs" th:text="#{amizade.aceitar}"/>
                                        <button th:attr="data-id=${solicitacao.id}" type="button" class="rejeitar-solicitacao btn btn-default btn-xs" th:text="#{amizade.rejeitar}"/>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="button">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span class="button-badge">2</span>
                        </div>
                    </a>
                    <ul id="solicitacao-amizade" class="dropdown-menu">
                        <li th:text="#{header.notification}"></li>
                        <hr/>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="principal.fullName"></span>
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="logout">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/Relacionamentos.js}"></script>
    <script type="text/javascript" th:src="@{/js/Pessoas.js}"></script>
    <script type="text/javascript" th:src="@{/js/HeaderView.js}"></script>
    <script>
        new HeaderView({
            botaoAceitar: $(".aceitar-solicitacao"),
            botaoRejeitar: $(".rejeitar-solicitacao"),
            contadorAmizades: $('#contador-solicitacoes'),
            formBuscaPorNome: $('#form-busca-nome'),
            inputBuscaPorNome: $('#nome-buscado'),
            botaoBuscaPessoas: $('#busca-pessoas')
        }).registrar();
    </script>
</th:block>