<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    </head>
    <body>
        <div layout:fragment="content" >
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="inner" th:include="home-lateral-pessoa"></div>
            </div>
            <div id="home-wrapper" class="col-lg-9 col-md-9 col-sm-12 clearfix">
                <div id="home-conteudo" class="inner clearfix">
                    <div id="conteudo-form-publicacao" th:include="form-publicacao"></div>
                    <div id="conteudo-publicacoes" th:include="publicacoes"></div>
                </div>
            </div>
        </div>
    </body>
</html>
