<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header id="header" th:include="header"></header>
        <div id="body-container" class="container">
            <div layout:fragment="content">
                <h1>Static content for prototyping purposes only</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
                    Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
                    Phasellus et placerat elit.
                </p>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <th:block layout:fragment="script"/>
</body>
</html>