<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    </head>

    <body>
        <div class="container container-login">
            <div class="content">
                <img class="login" th:src="@{/img/login-img.png}" alt="logo" />
            </div>
        </div>

        <div id="login-conteudo" class="container container-login">
            <div class="content">
                <div th:include="form-login"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/Usuarios.js}"></script>
        <th:block layout:fragment="script"/>
    </body>
</html>
